<style type="text/css">

#quicklink {
padding: 30px;

box-shadow: inner 10px 10px #333;
-webkit-box-shadow: inset 0px 0px 15px 0px rgba(50, 50, 50, 0.25);
-moz-box-shadow: inset 0px 0px 15px 0px rgba(50, 50, 50, 0.25);
box-shadow: inset 0px 0px 15px 0px rgba(50, 50, 50, 0.25);
}



.mini-orcid-icon {
background: url("https://82aefee5e1a8bc95cf46-47a9dc01c7d62016064e063a7d865c4c.ssl.cf1.rackcdn.com/img/mini-icon.png") transparent no-repeat;	
background-size: 20px 20px;
width: 20px;
height: 20px;
display: block;
float: left!important;
	
}


#ql_authors li {
	margin: 5px 0px;
}

#ql_authors li a{
	line-height: 23px;
	margin-left: 26px;
}


a:hover {
	color: #444;
	text-decoration:none;
}

</style>


<div id="quicklink">
	<h2>Authors</h2>
	{% if 'orcid' in results %}
	<ul id="ql_authors">
		{% for original_label in results['orcid'] %}
		<li>{{ original_label }}</li>
		{% for r in results['orcid'][original_label] %}
		<li>
			<span class="mini-orcid-icon"></span><a href="{{r.web}}"> {{r.show}} ({{r.short}})</a>
		</li>
		{% endfor %}
		{% endfor %}
	</ul>
	{% endif %}

	{% if 'dbpedia' in results %}
	<h2>Tags</h2>
	<ul id="ql_tags">
		{% for k, r in results['dbpedia'].items() %}
		<li>
			<a href="{{r.web}}">{{r.show}}</a>
		</li>
		{% endfor %}
	</ul>
	{% endif %}

	{% if 'spotlight' in results %}
	<h2>Extra Links</h2>
	<ul id="ql_spotlight">
		{% for k, r in results['spotlight'].items() %}
		<li>
			<a href="{{r.web}}">{{r.show}}</a>
		</li>
		{% endfor %}
	</ul>
	{% endif %}
</div>
