<style type="text/css">

#quicklink {
padding: 30px;

box-shadow: inner 10px 10px #333;
-webkit-box-shadow: inset 0px 0px 15px 0px rgba(50, 50, 50, 0.25);
-moz-box-shadow: inset 0px 0px 15px 0px rgba(50, 50, 50, 0.25);
box-shadow: inset 0px 0px 15px 0px rgba(50, 50, 50, 0.25);
}


#ql_tags ul li {
display: block;
float: left;
background-image: url('http://figshare.com/static/img/articles/tag.png');
background-repeat: no-repeat;
background-position: 0 -1px;
height: 20px;
overflow: hidden;
margin-right: 10px;
white-space: nowrap;
}


#ql_tags ul li a {
background-color: rgb(186,77,88);
color: white;
text-decoration: none;
display: block;
padding: 2px 6px 2px 10px;
line-height: 13px;
white-space: nowrap;
}

.mini-orcid-icon {
background: url("https://82aefee5e1a8bc95cf46-47a9dc01c7d62016064e063a7d865c4c.ssl.cf1.rackcdn.com/img/mini-icon.png") transparent no-repeat;	
background-size: 20px 20px;
width: 20px;
height: 20px;
display: block;
float: left;
	
	

</style>


<div id="quicklink">
	<h2>Authors</h2>
	{% if 'orcid' in results %}
	<ul id="ql_authors">
		{% for original_label in results['orcid'] %}
		<li>{{ original_label }}</li>
		{% for r in results['orcid'][original_label] %}
		<li>
			<span class="mini-orcid-icon"></span><a href="{{r.web}}">- {{r.show}}</a>&nbsp;({{r.short}})
		</li>
		{% endfor %}
		{% endfor %}
	</ul>
	{% endif %}

	{% if 'dbpedia' in results %}
	<h2>Tags</h2>
	<ul id="ql_tags">
		{% for k, r in results['dbpedia'].items() %}
		<li>
			<a href="{{r.web}}">{{r.show}}</a>
		</li>
		{% endfor %}
	</ul>
	{% endif %}

	{% if 'spotlight' in results %}
	<h2>Extra Links</h2>
	<ul id="ql_spotlight">
		{% for k, r in results['spotlight'].items() %}
		<li>
			<a href="{{r.web}}">{{r.show}}</a>
		</li>
		{% endfor %}
	</ul>
	{% endif %}
</div>
