<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="http://linkitup.data2semantics.org/static/css/bootstrap.css" />
	<link rel="stylesheet" href="http://linkitup.data2semantics.org/static/css/bootstrap-responsive.css" />
	<link rel="stylesheet" href="http://linkitup.data2semantics.org/static/css/select2.css" />
	<link rel="stylesheet" href="http://linkitup.data2semantics.org/static/css/select2-bootstrap.css" />
	<!-- <link rel="stylesheet" href="static/css/commit.css" /> -->
	<title>{% block title %}LinkItUp!{% endblock %}</title>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
	{% include 'results.html' %}
</body>
